target/
build/
TAGS
.DS_Store

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
# More information here http://doc.crates.io/guide.html#cargotoml-vs-cargolock
lib/**/Cargo.lock

ext/fat32-imgs/*.fat32.img

*-console.log

# Jet Brains
.idea

# VS Code
.vscode
